<div class="row">

</div>
<header class="row">
  <div class="eight columns offset-by-two">
     <h1>Boston Summer Housing</h1>
  </div>
</header>
<div class="row new-listing">
  <div class="five columns centered ">
    <%= link_to 'New Listing', new_listing_path, :class => 'large round nice button' %>
  </div>
</div>

<div class="row">
  <header>
    <h3>
      People Subletting
    </h3>
  </header>
</div>
<div class="row">
  <div class="twelve columns centered">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Low budget</th>
          <th>High budget</th>
          <th>Start</th>
          <th>End</th>
          <th>Location</th>
          <th>Description</th>
          <th>Seller</th>
        </tr>
      </thead>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
        <td><%= listing.email %></td>
        <td><%= listing.low_budget %></td>
        <td><%= listing.high_budget %></td>
        <td><%= listing.start %></td>
        <td><%= listing.end %></td>
        <td><%= listing.location %></td>
        <td><%= listing.description %></td>
        <td><%= listing.seller %></td>
      </tr>
    <% end %>
    </table>



  </div>
</div>


<div class="row">
  <header>
    <h3>
      People Looking to Rent
    </h3>
  </header>
</div>
<div class="row">
  <div class="twelve columns centered">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Low budget</th>
          <th>High budget</th>
          <th>Start</th>
          <th>End</th>
          <th>Location</th>
          <th>Description</th>
          <th>Seller</th>
        </tr>
      </thead>
    <% @listings2.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
        <td><%= listing.email %></td>
        <td><%= listing.low_budget %></td>
        <td><%= listing.high_budget %></td>
        <td><%= listing.start %></td>
        <td><%= listing.end %></td>
        <td><%= listing.location %></td>
        <td><%= listing.description %></td>
        <td><%= listing.seller %></td>
      </tr>
    <% end %>
    </table>



  </div>
</div>