<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @listing.name %>
</p>

<p>
  <b>Email:</b>
  <%= @listing.email %>
</p>

<p>
  <b>Low budget:</b>
  <%= @listing.low_budget %>
</p>

<p>
  <b>High budget:</b>
  <%= @listing.high_budget %>
</p>

<p>
  <b>Start:</b>
  <%= @listing.start %>
</p>

<p>
  <b>End:</b>
  <%= @listing.end %>
</p>

<p>
  <b>Location:</b>
  <%= @listing.location %>
</p>

<p>
  <b>Description:</b>
  <%= @listing.description %>
</p>

<p>
  <b>Seller:</b>
  <%= @listing.seller %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
